html {
    font-family: "Satoshi", "Noto Sans JP", sans-serif;
    font-variation-settings: "wght" 900;
    font-weight: 900;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0);
}

.board {
    position: fixed;
    width: 90%;
    top: 54px;
    left: 96px;
    z-index: -1;
    opacity: 1;
}

.disable {
    display: none;
}

.next-race {
    position: fixed;
    top: 90px;
    left: 200px;
    color: #cbb4fd;
    font-size: 50px;
}

.race-info {
    position: fixed;
    font-size: 30px;
    top: 170px;
    left: 200px;
    font-size: 60px;
}

.time-line {
    width: 300px;
    height: 60px;
    margin: 0;
    position: fixed;
    font-size: 30px;
    left: 1420px;
}
.time-line-name {
    width: 300px;
    height: 60px;
    margin: 0;
    position: fixed;
    font-size: 30px;
    left: 1595px;
}
.t-one {
    top: calc(0 * (100% - 170px) / 6 + 150px);
}
.t-two {
    top: calc(1 * (100% - 170px) / 6 + 150px);
}
.t-three {
    top: calc(2 * (100% - 170px) / 6 + 150px);
}
.t-four {
    top: calc(3 * (100% - 170px) / 6 + 150px);
}
.t-five {
    top: calc(4 * (100% - 170px) / 6 + 150px);
}
.t-six {
    top: calc(5 * (100% - 170px) / 6 + 150px);
}

.lane {
    margin: 0;
    position: fixed;
    left: 200px;
    font-size: 40px;
}
.lane-one {
    top: calc(0 * (100% - 500px) / 6 + 400px);
}
.lane-two {
    top: calc(1 * (100% - 500px) / 6 + 400px);
}
.lane-three {
    top: calc(2 * (100% - 500px) / 6 + 400px);
}
.lane-four {
    top: calc(3 * (100% - 500px) / 6 + 400px);
}
.lane-five {
    top: calc(4 * (100% - 500px) / 6 + 400px);
}
.lane-six {
    top: calc(5 * (100% - 500px) / 6 + 400px);
}

.local-setting {
    font-variation-settings: "wght" 500;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
    position: fixed;
    color: #ffffff;
    left: 815px;
    top: 888px;
    letter-spacing: 1px;
}
  
.local-time {
    font-size: 52px;
    text-align: right;
    color: #ffffff;
    position: fixed;
    left: 970px;
    top: 850px;
    font-variant-numeric: tabular-nums;
}

/* #__bs_notify__ {
    display: none !important;
} */
